body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('/static/groundpicture.png');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.logo {
    width: 200px;
    margin: 0;
}

.title {
    margin: 0;
    color: black; /* Optional: Set to white or another color so the text is visible on top of the image */
}

